<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h2>Review Scrapper!</h2>
</div>


<div class="container">
  <div class="content">
        <br>
        <h1 class="text-center"><i>Search for the Product.</i></h1><br>
        <h4 class="text-center"><b>Note:</b>If you are searching for product which contain numeric value in it
            add '-'
            between the text and numeric value.<br>For eg. Iphone12 can be written as Iphone-12</h4><br><br>
        <div class="text-center">
            <form action="/" method="POST">
                <label><b>Enter product to be searched:</b></label> <input type="text" name="productName"
                                                                           id="productName"><br><br>
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
</div>

</body>
</html>
